@font-face{
font-family: Swordsman;
src: url(../Fonts/Swordsman.ttf);
}
@font-face{
font-family: Moon;
src: url(../Fonts/MOONRUNE.TTF);
}
@font-face{
font-family: Crush;
src: url(../Fonts/CrushYourEnemies_REGULAR.ttf);
}

*{
margin: 0px;
padding: 0px;
list-style: none;        
}

a{
text-decoration: none;
color: black;
}
body{
background-color:rgb(171, 255, 255);
}
.background{
position: relative;
width: 100%;
height: 100%;
}
.background::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(../images/758657.jpg);    
filter:opacity(0.5);
z-index: -1;
background-size: cover;
background-position: center;
background-repeat: repeat;
}

/*Navegação Principal */
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: large;   
}
.menu b{
    font-family: Swordsman;
    color: black;
}
.bg{
    width: 100%;
    height: 100%;
    background-image: url(../images/fatestay-night-saber.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; 
}
#transparente{
    width: 99%;
    height: 90px;
    background-color: #ffa60052;
    border-radius: 100%;
}


/* Itens da Navegação */
nav{
width: 100%;
height: 60px;
border-bottom: 10px solid rgb(11, 23, 34);
font-weight: bolder;
}
input,  textarea,  select,  button{
border: solid 1px #fffb00;
outline: none;
border-radius: 40px;
}
form button{
cursor: pointer;
}
ul button{
background-color: rgba(255, 166, 0, 0.781);
border-radius: 5px;
width: 100%;
height: auto;
padding: 5px;
}


/*Itens das páginas*/ 
#login{
    background-color: aliceblue;
}
#title{
    font-family: Swordsman;
}
#estilo{
    color: white;
}
#estilo:hover {
    color: #382503;  
    box-shadow:  0.12rem 0.25rem .06rem rgba(26, 25, 25, 0.363);
  }
#confirmacao{
    text-align: center;
}
#reenviar{
    background-color: aqua;
    border-bottom: 1px solid black;
}
#center{
    text-align: center;
}
#right{
    text-align: right;
}

/* Modal */

/* Estilos básicos do modal */
#myDialog {
    position: fixed;
    right: 0%;
    left: 70%;
    width: 320px;
    height: auto;
}
#myDialog.slide-in {
    /* Aplicando a animação de entrada e definindo a duração */
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out; /* Opcional: definindo a função de temporização */
}
#myDialog.slide-out {
    /* Aplicando a animação de saída e definindo a duração */
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out; /* Opcional: definindo a função de temporização */
}
dialog{
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
}
dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
}

/* Perfil do Usuário */
.card {
    border: none;
    border-radius: 10px
}
.c-details span {
    font-weight: 300;
    font-size: 13px
}
.icon {
    width: 50px;
    height: 50px;
    background-image: url(/images/Perfil.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
    
}
.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}
.progress {
    height: 10px;
    border-radius: 10px
}
.progress div {
    background-color: red
}
.text1 {
    font-size: 14px;
    font-weight: 600
}
.text2 {
    color: #a5aec0
}

/* Botão do modal  */
#modalButton{
    color: white;
    width: 80px;
    height: 50px;
    background: url('/images/Perfil.png');
    background-size: cover;
}
#modalButton:hover{
    color: #382503;
}

/** Fim do Modal */

/*Menu lateral*/
#menuleft{
    width: auto;
    height: auto;

}
.categorias a:hover{
    color:#382503;
}

.categorias{
    display: flex;
    flex-direction: column;
    width: 150px;
}
.categorias a{
    color: white;
    font-weight: bolder;
    font-size:medium;
}
.categorias button:hover{
    background-color: aqua;
    width: 100%;
    height: 100%;

}
#subtitle{
    color: black;
    font-family: Crush;
    font-size:small;
}
ul.categorias {
    padding: 20px 0;
}

/*Carrosel de Imagens*/
#itemcarrosel{
    width: 20%;
    height: auto; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
    box-shadow: 0 0.25rem 0.30rem 0 rgba(10, 10, 10, 0.12),0 0.12rem 0.25rem .06rem rgba(26, 25, 25, 0.07);  
}
#itemcarrosel:hover{
    box-shadow:  0.12rem 0.25rem .06rem rgba(26, 25, 25, 0.171);
}
/* substituindo as setas*/


.carousel-control-prev {
    background-image: url("../images/setaesquerda.png");
    background-size: cover;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 2.8vh;
}  

.carousel-control-next {
    background-image: url("../images/setadireita.png");
    background-size: cover;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 2.7vh;
}
/*Animações*/

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


/* Reposividade no carrosel */
@media (max-width: 320px){
    .carousel-control-prev::before {
        background-color: transparent;
     }
    .carousel-control-prev {
        background-image: url("../images/setaesquerda.png");
        background-size: cover;
        width: auto;
        height: auto;
        display: inline-block;
        padding:1.1vh;        
    }  
     .carousel-control-prev::before {
        background-color: transparent;
     }
    .carousel-control-next {
        background-image: url("../images/setadireita.png");
        background-size: cover;
        width: auto;
        height: auto;
        display: inline-block;
        padding: 1.0vh;
    }      
}

@media (max-width: 766px) and (min-width: 321px) {
    .carousel-control-prev::before {
        background-color: transparent;
     }
    .carousel-control-prev {
        background-image: url("../images/setaesquerda.png");
        background-size: cover;
        width: auto;
        height: auto;
        display: inline-block;
        padding:2.0vh;        
    }  
     .carousel-control-prev::before {
        background-color: transparent;
     }
    .carousel-control-next {
        background-image: url("../images/setadireita.png");
        background-size: cover;
        width: auto;
        height: auto;
        display: inline-block;
        padding: 1.9vh;
    }      
}
@media (min-width: 1200px){
    .carousel-control-prev::before {
        background-color: transparent;
     }
    .carousel-control-prev {
        background-image: url("../images/setaesquerda.png");
        background-size: cover;
        width: auto;
        height: auto;
        display: inline-block;
        padding:4.6vh;        
    }  
     .carousel-control-prev::before {
        background-color: transparent;
     }
    .carousel-control-next {
        background-image: url("../images/setadireita.png");
        background-size: cover;
        width: auto;
        height: auto;
        display: inline-block;
        padding: 4.5vh;
    }      
}
/*Fim do carrosel*/ 

/*Reponsividade no Menu*/
@media (max-width: 320px){
    .bg{
        border-radius: 0%;
    }

    .menu {
        display: flex;
        flex-wrap: wrap; /* Quebra para a próxima linha quando não há espaço suficiente */
      }
    
      .menu p a {
        flex-basis: 50%; /* Dois itens em uma linha com um espaço de 10px entre eles */
        padding: 1px; /* Espaço entre os itens */
        text-align: center; /* Centraliza o texto */
      }
    
      .menu button {
        flex-basis: 100%; /* Um item em uma linha, ocupa toda a largura */
        margin-top: 94px; /* Espaço entre as linhas */
      }
}
@media (max-width: 766px) and (min-width: 321px) {
    .bg{
        border-radius: 0%;
    }

    .menu {
        display: flex;
        flex-wrap: wrap; /* Quebra para a próxima linha quando não há espaço suficiente */
      }
    
      .menu p a {
        flex-basis: 50%; /* Dois itens em uma linha com um espaço de 10px entre eles */
        padding: 1px; /* Espaço entre os itens */
        text-align: center; /* Centraliza o texto */
      }  
}